<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('admin.stats') }}">Statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('admin.users') }}">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.experts') }}">Experts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin.admins') }}">Admins</a>
    </li>
</ul>