{% extends 'admin/base.html.twig' %}

{% block body %}
    {% include 'admin/navigation.html.twig' %}

    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('admin/manage-users/left-panel.html.twig') %}
            </div>
            <div>

                <p>Number of all users: {{ users }}</p>
                <p>Number of admins: {{ admins }}</p>
                <p>Number of users: {{ guests }}</p>
                <p>Number of experts: {{ experts }}</p>

            </div>
        </div>
    </div>

{% endblock %}

