<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active h5" href="{{ path('expert.product') }}" style="text-decoration: none;" >All products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active h5" href="{{ path('expert.product.create') }}" style="text-decoration: none;" >Add product</a>
    </li>
</ul>