{% extends 'admin/base.html.twig' %}

{% block body %}
    {% include 'admin/navigation.html.twig' %}

    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('admin/manage-users/left-panel.html.twig') %}
            </div>

            <div class="col-md-9">
                <div class="search-form">
                    <form action="{{ path('admin.admins') }}" method="get" class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="text" class="form-control" name="search" id="findByNameAdmin" placeholder="Name or e-mail"
                                    {% if (app.request.get('search')) %} value="{{ app.request.get('search') }}" {% endif %}>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </form>
                </div>
                <div class="search-result pt-3">

                    {% include('admin/manage-users/admin/admin-table.html.twig') %}

                </div>
            </div>

        </div>
    </div>

{% endblock %}